*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.Container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #88d4da;
}
.Header{
    display: flex;
    width: 84vw;
    height: 192px;
    flex-direction: column;
}
.Navbar{
    display: flex;
    flex-direction: column;
    width: 16vw;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Lista{
    margin: 10px 10px;
    li{
        height: 20px;
        margin-top: 15px;
        a{
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
.Principal{
    width: 30vw;
    display: flex;
    margin: 10px auto 0;
    height: 55vh;
    align-items: center;
    h4{
        font-family: Arial, Helvetica, sans-serif;
        color: #2C91BD;
        font-size: 1.5rem;
        padding: 0 20px;
        margin-bottom: 60px;
        margin-top: 30px;
        width: 750px;
        margin-right: 30px;
        text-align: center;
    }
}

.Footer{
    width: 84vw;
    height: auto;
}
.FooterDescricao{
    width: 60vw;
    height: auto;
    margin: 20px auto;
    text-align: center;
    p{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 15px;
        color: #181a1b;
    }
    a{
        margin: 0 20px;
        text-decoration: none;
        color: #050101;
    }
}
